.head-home {
    margin-top: 60px;
    margin-left: 500px;
}

.dst-signin {
        margin-top: 100px;
        margin-left: 244px;
}

.dst-signup {
        margin-top: 20px;
        margin-left: 244px;
}
