.edit {
    background-color: hwb(54 50% 0%);
}

.edit:hover {
    background-color: hwb(54 50% 0%);
}

.prf {
    padding: 20px;
    margin: 15px;
    margin-top: 82px;
}

.rad {
    border-radius : 10px
}

.btn-rad {
    margin-top: 15px;
}

.cl-btn {
    border-radius: 20px;
}

.rad:focus {
    /* color: #212529;
    background-color: #fff; */
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none
}

.bg-d {
    background-color: rgb(225 243 253);
}

.pro-img {
    margin-top: 70px;
    margin-left: 42px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #9e9292;
}

.upl-btn {
    margin-top: 10px;
}

.avatar:hover {
    opacity: 1;
    border: 3px solid #555;
    cursor: pointer;
}